body{
    display: flex;
}
img{
    border-radius: 25px;
}
.main{
    display: flex;
}
.uvod{
    padding-top: 25vh;
    margin-right: 10vh;
    width: 25vw;
    text-align: center;
}
.img{
    width: 65vw;
    height: 100vh;
}
.kup{
    border: 1px solid green;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    background-color: green;
} 
@media only screen and(max-width:500px){
    body{

        background-color: grey;
        display: grid;
    }
    .main{
        display: grid;
    }
    .uvod{
        text-align: center;
        width: 100vw;
        height: 50vh;
    }
    .img{
        width: 100vw;
        height: 100vh;
    }
}