.main{
    margin: 0;
    padding: 0 2.6rem;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: clamp(10vh, 70vh, 100vh);
}
.intro > .one{
    color: var(--text);
    font-size: x-large;
}
.intro > .two{
    color: var(--primary);
    font-size: xx-large;
}
.intro > .three .four{
    color: var(--text);
    font-size: smaller;
    text-wrap: wrap;
}

.aboutme-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    height: fit-content;

}
.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 1.6rem 0;
}
.aboutme-box{
    margin: 0.5rem;
    padding: 1.6rem 2.6rem;

    border-radius: 0.6rem;
    background: linear-gradient(-45deg, var(--primary) 0%, var(--accent) 100%);

    width: clamp(100px, 40vw, 70vw);
}
.aboutme-text{
    color: var(--text-dark);
    font-size: medium;
    line-height: 1.6rem;
    text-wrap: wrap;
    margin: 0;
}
.highlight{
    color: #ffffff;
    font-style: italic;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-dark);

    padding: 1.6rem 0;
}
.quote-box{
    margin: 0.5rem;
    padding: 1.6rem 2.6rem;
    
    border-radius: 0.6rem;
    background: linear-gradient(45deg, var(--primary) 0%, var(--accent) 100%);

    width: clamp(100px, 40vw, 70vw);
    height: clamp(fit-content);

    line-height: 1.6rem;
    text-wrap: wrap;
}
.quote-text{
    color: var(--text-dark);
    font-size: medium;
    line-height: 1.6rem;
    text-wrap: wrap;
    margin: 0;
}

.socials{
    height: clamp(10vh, fit-content, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.socials-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.socials-icons > .icon{
    color: var(--primary);
    font-size: xxx-large;
}



#git{
    font-size: 1.6rem;
    color: var(--accent);
}
#git:hover{
    color: var(--primary);
}

@media (max-width: 1080px){
    .aboutme-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .aboutme{
        height: clamp(10vh, fit-content, 100vh);

    }
}
@media (min-width: 1081px){
    .aboutme{
        height: clamp(10vh, 70vh, 100vh);

    }
}
