.main{
    margin: 0;
    padding: 0 2.6rem;
}


/* gta radio project */
.gta-radio{
    min-height: 50vh;
}











/* sorted repo project */
.file-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 1.6rem;
    gap: 10px;
}
.button-file{
    text-align: center;
    
    width: 120px;
    height: 60px;
    padding: 10px;

    border: 1px solid var(--accent);
    border-radius: 10px;

    background-color: var(--primary);
    color: var(--text-dark);
    text-decoration: none;
}