.main{
    margin: 0;
    padding: 0 2.6rem;
}

/* gta radio project */
.gta-radio{
    min-height: 50vh;
    padding-top: 10px;
    padding-bottom: 10px;

}
.img-project{
    padding: 1.6rem;
    height: 350px;
}
.flex-project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-project{
    line-height: 1.6rem;
    padding: 1.6rem 0;
}




/* sorted repo project */
.sorted-repo{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.6rem;
}
.file-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 2.6rem;
    gap: 10px;
}
.button-file{
    text-align: center;
    
    width: 100px;
    height: 60px;
    padding: 10px;

    border: 1px solid var(--accent);
    border-radius: 10px;

    background-color: var(--primary);
    color: var(--text-dark);
    text-decoration: none;
}
@media (max-width: 400px){
    .file-container{
        padding: 1.6rem 0;
    }
}

@media (max-width: 1024px){
    .flex-project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}