:root{
    --black: #000000;
    --white: #ffffff;
    --text: #0b070f;
    --text-dark: #f5f1f8;
    --background: #f9f7fc;
    --primary: #8549c3;
    --secondary: #b890e0;
    --accent: #9c5edb;
    --font-family: "Roboto Mono", monospace;
}
*{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
}
.gradient {
    height: 2px;

    background: var(--background);
    background: linear-gradient(
      90deg,
      var(--primary) 0%,
      var(--secondary) 50%,
      var(--accent) 100%
    );
}

.footer{
    border-top: 2px solid var(--secondary);
    
    text-align: center;
    
    min-height: fit-content;
    margin: 0 20px;
}
