body {
  background-color: black;
}
.container {
  text-decoration: none;
  font-style: italic;
  color: aliceblue;
  border: 4px solid blueviolet;
  width: fit-content;
  padding-right: 20px;
  height: auto;
  margin: 25px 25px 25px 25px;
}
img {
  width: 200px;
  height: 200px;
}
.links {
  
  color:white;
  text-align: center;
}
.page{
    position: relative;
}
a{
    text-decoration: none;
}
.white-font{
    color: white    ;
}