body {
    background-color: #1C2833;
}
img {
    height: 200px;
    width: 200px;
}
h1 {
    text-decoration: underline;
    text-decoration-color: rgba(175, 16, 0, 80)
}
.container {
    top: 25px;
}
.list {
    left: calc(50vw - 11vw);
    justify-content: center;
    color: #F7F9F9;
    border: 10px solid;
    border-radius: 5px;
    height: auto;
    width: 19vw;
    border-color: #FF2D00;
    position: relative;
    display: block;
}
.header {
    color: #AF1000;
    text-align: center;
    margin-top: 50px;
}