body {
    background-color: black;
}
img {
    width: 200px;   
    height: 200px;
}
a{
    text-decoration: none;
}
.container {
    text-decoration: none;
    font-style: italic;
    color: aliceblue;
    border: 4px solid blueviolet;
    width: fit-content;
    padding-right: 20px;
    height: auto;
    margin: 25px 25px 25px 25px;
}
.links {
    color:white;
    text-align: center;
}
.page{
    position: relative;
}
.white-font{
    color: white;
}