*{
    padding: 0;
    margin: 0;
}
main{
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    display: grid;
}
footer{
    margin: 10px 25px 0 25px;
}
div{
    border: 5px solid black;
    margin: 10px;
}
div.img{
    background-color: aqua;
    width: 100px;
    height: 100px;
    padding: 25px;    
}
div.projekt1{
    width: 250px;
    height: 250px;
}
.nadpis{
    padding: 25px 20px 10px 20px;
}