body{
    background-color: black;
    color: white;
    font-family: Impact;
    font-size: larger;
}
img{
    border: 4px blueviolet groove;
}
li{
    display: inline;
    padding-right: 5px;
}
.hra{
    background-color: rgba(30, 50, 70, 100);
    border-bottom: 10px white solid;
}
.main{
    justify-content: right;
    display:flex ;
    background-color: cadetblue;
    border-bottom: 10px white solid;
}
.foot{
    background-color: aquamarine;
}
