
td{
    width: 100px;
    height: 100px;
    border: 1px solid;
}
table{
    border: 2px solid black;
    border-collapse: collapse; 
    
}


.green{
    background-color: green;
}
.ukol{
    margin-top: 25px;
}