*{
    margin: 0;
    padding: 0;
}
.a{
    width: 50vw;
    height: 50vh;
    background: blue;
    left: 100;
    right: 0;
    top: 0;
    position: fixed;
}
.b{
    width: 50vw;
    height: 50vh;
    background: red;
    position: fixed;
}
.c{
    width: 50vw;
    height: 50vh;
    background: green;
    position: fixed;
    bottom: 0;
    left: 100;
    right: 0;
}
h1{
    text-align: center;
    margin-top: 25vh;
    color: whitee;
}