*{
    margin: 0;
    padding: 0;
}
header{
    border-radius: 5px;
    background-color: blue;
}
h1{
    color: red;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
a{ 
    color: white;
}
a:hover{
    color:orange;
}
ul{
    padding-bottom: 10px;
    text-align: center;
}
li{
    display: inline;
    margin-top: 10px;
    margin-left: 0px;
    padding: 20px;
}
section{
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
    color: darkblue;
}
section p{
    padding: 10px;
    margin-top: 10px;
}
section h2{
    padding: 5px;
}
footer{
    background-color: black;
    color: gray;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}